<%= form_for @restaurant do |f| %>

  <div class='form-group'>
    <%= f.label :Categoria %>
    <%= f.select :category, ["french", "chinese", "italian", "japanese", "belgian" ], {}, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :Nome %>
    <%= f.text_area :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :Endereço %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :Telefone %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

  <%= f.submit 'Salvar', class: 'btn btn-block btn-primary' %>

<% end %>
