
  <h3>Restaurantes</h3>
  <td class="btn btn-primary"><%= link_to 'Novo Restaurante', new_restaurant_path%></td>
  <table class = "table">
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Rating</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
        </td>
        <td><%= restaurant.address %></td>
        <td>
        </td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.category%></td>
    <%end%>
      </tr>
  </table>
